<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsSkuInfoMapper">

    <select id="selectSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap">
        SELECT
            si.*,ssav.*,si.id as si_id,ssav.id as ssav_id
        FROM
            pms_sku_info si,
            pms_sku_sale_attr_value ssav
        WHERE
            si.product_id = #{productId}
        and si.id = ssav.sku_id
    </select>

    <resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.atguigu.gmall.bean.PmsSkuInfo" autoMapping="true">  <!-- 将查询得到的结果集都映射到type所指定的类中 -->
            <result column="si_id" property="id"></result>  <!-- 设置主键id,否则会错误，mybatis不知道哪个是哪个的id -->
        <collection property="skuSaleAttrValueList" ofType="com.atguigu.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">  <!-- 将查询出来的集合保存给property指定的该类的属性中 -->
            <result column="ssav_id" property="id"></result> <!-- 设置主键id,否则会错误，mybatis不知道哪个是哪个的id，对应着该type类中的id -->
        </collection>

    </resultMap>

</mapper>